@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header {
  background-color: #184042;
  width: 100%;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
header nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
}
header nav .logo {
  width: 150px;
  margin-left: 20px;
}
header nav .bar-btn {
  font-size: 25px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}
header nav .bar-btn i {
  font-style: normal;
}
header nav #check {
  display: none;
}
header nav #check:checked ~ .nav-menu {
  height: 100vh;
}
header nav #check:checked ~ .nav-menu li {
  display: block;
}
header nav .nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  text-align: center;
  transition: all 0.5s;
}
header nav .nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}
header nav .nav-menu li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

main {
  font-family: Roboto;
  margin: 10px;
}
main h1 {
  margin-left: 10px;
}
main .card .big-card {
  display: flex;
  flex-direction: row;
  border: solid lightgray 1px;
  border-radius: 3px;
  width: 95%;
  max-width: 350px;
  height: 150px;
  margin: 10px;
  background-color: rgb(250, 248, 248);
}
main .card .big-card img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
}
main .card .big-card-body {
  padding: 10px;
}
main .card .big-card-body p {
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
}
main .songs table {
  width: 100vw;
  margin: 10px;
}
main .songs table td {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .songs table td i {
  cursor: pointer;
}

footer {
  position: sticky;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #184042;
  padding: 5%;
}
footer div {
  display: flex;
  justify-content: space-around;
}
footer img {
  display: none;
}

@media screen and (min-width: 600px) {
  main .card, main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .card .big-card, main h1 .big-card {
    width: 50%;
    max-width: none;
  }
  footer {
    padding: 2%;
  }
}
@media screen and (min-width: 1024px) {
  header nav {
    height: 100px;
  }
  header nav .logo {
    margin-left: 50px;
    width: 250px;
  }
  header nav .bar-btn {
    display: none;
  }
  header nav .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  header nav .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }
  header nav .nav-menu li a {
    font-size: 17px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main h1 {
    display: none;
  }
  main .card {
    align-items: normal;
  }
  main .card .big-card {
    width: 45vh;
    height: 57%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  main .card .big-card img {
    height: 45vh;
    width: 45vh;
  }
  main .songs table {
    width: 90%;
  }
  footer {
    display: flex;
    height: 100px;
    padding: 20px;
  }
  footer div svg {
    display: none;
  }
  footer img {
    display: initial;
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
