@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$background-color: #184042;
$principal-font: Roboto;
$principal-p-size: 13px;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
header {
  background-color: $background-color;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $principal-font;
    .logo {
      width: 150px;
      margin-left: 20px;
    }
    .bar-btn {
      font-size: 25px;
      color: white;
      margin-right: 20px;
      cursor: pointer;
      i {
        font-style: normal;
      }
    }
    #check {
      display: none;
      &:checked ~ .nav-menu {
        height: 100vh;
        & li {
          display: block;
        }
      }
    }
    .nav-menu {
      position: fixed;
      width: 100%;
      height: 0vh;
      top: 100px;
      background: rgba(0, 0, 0, 0.9);
      z-index: 2;
      text-align: center;
      transition: all 0.5s;
      li {
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all 0.5s;
        a {
          color: white;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}

.informacion {
  background-color: #4e4e4e;
  color: white;
  font-family: $principal-font;
  font-size: $principal-p-size;
  padding: 5px;
}

form {
  text-align: center;
  font-family: $principal-font;
  display: grid;
  grid-gap: 10px;
  margin: 20px;
  h1,
  h3 {
    margin-bottom: 2%;
  }
  input,
  textarea {
    padding: 1vh;
    font-family: $principal-font;
    &.enviar {
      background-color: lighten($background-color, 15%);
      color: white;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: darken($background-color, 5%);
      }
    }
  }
}

section {
  font-family: $principal-font;
  margin: 20px;
  div {
    margin: 20px auto;
    h3 {
      margin: 5px auto;
    }
    p {
      margin-bottom: 2px;
    }
  }
}

footer {
  height: 100px;
  width: 100%;
  background-color: $background-color;
  padding: 5%;
  div {
    display: flex;
    justify-content: space-around;
  }
  img {
    display: none;
  }
}

@media screen and (min-width: 600px){
  footer{padding: 2%;}
}

@media screen and (min-width: 1024px) {
  header {
    nav {
      height: 100px;
      .logo {
        margin-left: 50px;
        width: 250px;
      }

      .bar-btn {
        display: none;
      }
      .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
        li {
          display: inline-block;
          line-height: 100px;
          margin: 0 20px;
          transition: none;
          a {
            font-size: 17px;
          }
        }
      }
    }
  }

  .informacion{
    font-size: 20px;
    text-align: center;
  }

  form{
    text-align: center;
    height: 50vh;
    margin: 20px 50px;
    grid-template-areas: "titulo subtitulo"
                          "correo mensaje"
                          "nombre mensaje"
                          "enviar enviar";
    h1, h3{
      margin: auto;
    }
    input, textarea{
      font-size: 20px;
    }
    h1{
      grid-area: titulo;
    }
    h3{
      grid-area: subtitulo;
    }
    .correo{
      grid-area: correo;
    }
    .nombre{
      grid-area: nombre;
    }
    .mensaje{
      grid-area: mensaje;
    }
    .enviar{
      grid-area: enviar;
    }
  }

  section{
    margin-left: 50px;
    .redes{
      display: none;
    }
  }

  footer {
    display: flex;
    height: 100px;
    padding: 20px;
    div svg {
      display: none;
    }
    img {
      display: initial;
      height: 50px;
      width: 50px;
      float: left;
      margin: 10px;
    }
  }
}
